
.flex {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

///////
.title {
  font-size: 13px;
  line-height: 20px;

  /* color-black-100 */
  color: #909090;
}

.count {
  margin-top: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  letter-spacing: -0.3px;
  font-feature-settings: 'liga' off;

  /* color-black-300 */
  color: #333333;
}

.app-content_container {
  height: 96px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  display: flex;

  .app-content_info {
    flex-grow: 1;
    margin: 24px;


  }

  .app-content_circle {
    width: 48px;
    height: 48px;

    background: #1771E6;
    border-radius: 50px;
  }

}

.tr-content.fff {
  &:after {
    //content: '';
    //display: block;
    //border-bottom: 1px solid #E7E8EA;
    content: " ";
    display:table-cell;
    border-bottom: 1px solid #E7E8EA;
  }

  td {
    border-bottom: 1px solid #E7E8EA;
  }
}

.table {
  border: 1px solid #E7E8EA;
  box-sizing: border-box;
  border-radius: 8px;
  //border-collapse: collapse;
  .tr-content {
    height: 80px;
    border-bottom: 1px solid #E7E8EA;

    .td-title {
      width: 46%;
      padding: 28px;

      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */

      letter-spacing: -0.3px;
      font-feature-settings: 'liga' off;

      /* color-black-300 */

      color: #333333;
    }

    .td-content1 {
      width: 19%;
    }

    .td-content2 {
      width: 19%;
    }

    .td-edit {
      width: 16%;
    }
  }


  ///////////

  //content {
  //
  //}



}


div {
  box-sizing: border-box;
}

.table-container {
  border-radius: 8px;
  border: 1px solid #1976D2;
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 600px;
}

.flag-icon {
  margin-right: 0.1em;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  //border-left: solid 1px #d9d9d9;
  transition: 0.5s;
  &:first-of-type {
    //border-top: solid 1px #1565C0;;
    //border-left: solid 1px #1565C0;;
  }
  &:first-of-type .flex-row {
    background:  #1976D2;
    color: white;
    //border-color: #1565C0;;
  }
  &.row:nth-child(odd) .flex-row {
    background: #f4f2f1;
  }
  &:hover {
    background: #F5F5F5;
    transition: 500ms;
  }
}

.flex-row {
  width: calc(100% / 4);
  text-align: center;
  padding: 0.5em 0.5em;
  //border-right: solid 1px #d9d9d9;
  //border-bottom: solid 1px #d9d9d9;
}

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;
  .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    //border: 0;
    //border-bottom: solid 1px #d9d9d9;
    &:hover {
      background: #F5F5F5;
      transition: 500ms;
    }
  }
}

.flex-cell {
  width: calc(100% / 3); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  //flex: 1 1 33.3%;
  &:last-child {
    // border-right: 0;
  }
}

@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right

    &.first {
      width: 100%;
    }
  }

  .column {
    width: 100%;
  }
}

@media all and (max-width: 430px) {

  .flex-table {
    .flex-row {
      border-bottom: 0;
    }
    .flex-row:last-of-type {
      border-bottom: solid 1px #d9d9d9;
    }
  }

  .header {
    .flex-row {
      border-bottom: solid 1px;
    }
  }

  .flex-row {
    width: 100%; //1px = border right

    &.first {
      width: 100%;
      border-bottom: solid 1px #d9d9d9;
    }
  }

  .column {
    width: 100%;
    .flex-row {
      border-bottom: solid 1px #d9d9d9;
    }
  }

  .flex-cell {
    width: 100%; //1px = border right
  }
}
